body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:#1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #2d3748;
    border-radius: 15px;
    padding: 40px 30px;
    width: 80%;
    max-width: 450px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    text-align: center;
    color: #fff;
}
.logo {
    width: 120px;
    height: 120px;
    border-radius: 20px;     /* Smooth rounded edges */
    object-fit: cover;
    margin-bottom: 15px;
    border: 2px solid #000;
    box-shadow: 0 0 8px #000;
}

h1 {
    font-size: 2.2em;
    color: #000;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 25px;
}

input[type="file"] {
    width: 80%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #555;
    background: #1f2937;
    color: #fff;
    margin-bottom: 20px;
}

button {
    width: 60%;
    padding: 8px;
    font-size: 1em;
    color: #fff;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}
button:hover {
    transform: scale(1.05);
}


.progress-bar {
    width: 50%;             /* smaller width to center nicely */
    height: 20px;
    background: #555;
    border-radius: 10px;
    margin: 25px auto;       /* <== centers horizontally */
    overflow: hidden;
}

.progress-bar #progress {
    height: 50%;
    width: 0%;
    background: linear-gradient(90deg, #000, #000);
    text-align: center;
    color: white;
    line-height: 20px;
    font-weight: bold;
    border-radius: 10px;
    transition: width 0.3s ease;
}

#status {
    margin-top: 15px;
    font-size: 1em;
    color: #4caf50;
}
