<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Drone Super Resolution App</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>🚀 Drone Super Resolution</h1>

  <form id="uploadForm">
    <input type="file" id="fileInput" name="files[]" multiple required>
    <button type="submit">Upload</button>
  </form>

  <div id="status">Waiting for upload...</div>
  <div id="progressContainer">
    <div id="progress">0%</div>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
